{% extends 'headerfooter/header.html' %}

{% block nama %}
SDGs DDP
{% endblock %}

{% block judulkonten %}
    <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">SDGs : <a style="color:red"> {{judul}}</a></h1>
            <h2>Hamlet: {{judul1}}</h2>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">List of Families</li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}


      <section class="content">
        <div class="container-fluid">
          <div class="row">
                <div class="col-lg-12 col-12 ">
                <p><h3>List of Families with Poor Conditions</h3></p>
                    {{ hasilA|safe }}
            </div>
            </div>
            </div>
              
    </section>

{% endblock %}

  