{% extends 'headerfooter/header.html' %}

{% block nama %}
SDGs DDP
{% endblock %}

{% block judulkonten %}
    <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">SDGs No.13: <a style="color:red"> Aksi Perubahan Iklim </a></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Utama</li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}


      <section class="content">
        <div class="container-fluid">
          <div class="row">
                <div class="col-lg-12 col-12 ">
                <p><h3>Detail Keluarga</h3></p>
                    {{ tampil|safe }}
            </div>
            </div>
            </div>
              
    </section>

{% endblock %}

  