{% extends 'headerfooter/header.html' %}

{% block nama %}
SDGs DDP
{% endblock %}

{% block judulkonten %}
    <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">Lapisan Sosial Desa: <a style="color:red">{{nama_desa}}</a></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Utama</li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}


      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-6 ">
                <img src="data:image/png;base64, {{ plot_url }}"  class="img-thumbnail">
            </div>
                <div class="col-lg-4 col-4 ">
                <p><h3>Keseluruhan Desa</h3></p>
                    {{ LSDesa|safe }}
            </div>
            <div class="col-lg-6 col-6 ">
                <p><h3>Lapisan Sosial Setiap RW</h3></p>
                    {{ hasil|safe }}
            </div>
            </div>
            </div>
              
    </section>

{% endblock %}

  