{% extends 'headerfooter/header.html' %}

{% block nama %}
SDGs DDP
{% endblock %}

{% block judulkonten %}
    <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">Menghitung Lapisan Sosial</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Lapisan Sosial</li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-12">
              <!-- Default box -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Upload Data Desa Presisi</h3>
  
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body" style="display: block;">
                    <h4>Excel file upload (Xlsx, Xls)</h4>
                    <p><br><br></p>
                    <form action="" method=post enctype=multipart/form-data>
                    <p><input type=file name=file><input type=submit value=Upload>
            </form>
                </div>
                <!-- /.card-body -->
                <div class="card-footer" style="display: block;">
                  Unit Data Desa Presisi - LPPM IPB University
                </div>
                <!-- /.card-footer-->
              </div>
              <!-- /.card -->
            </div>
          </div>


    
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
{% endblock %}

  